html,body{
    font-family: 'Microsoft YaHei';
}
a:hover,
a:active{
    text-decoration: none;
    
}
li{
    list-style: none;
}
.lt_aside{
    position: absolute;
    width: 180px;
    height: 100%;
    background-color: #222d32;
}
.lt_aside .brand{
    width: 100%;
    height: 50px;
    background-color: #367fa9;
    text-align: center;
}

.lt_aside .brand a{
    display: block;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    
    line-height: 50px;
}

/* 用户 */
.lt_aside .user{
    color: #fff;
    padding: 30px 20px;
    font-size: 12px;
}
.lt_aside .user img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
/* 菜单 */
.menu ul{
    margin: 0;
    padding: 0;
}
.menu ul li {
    width: 100%;
    /* height: 40px; */
    line-height: 40px;
    font-size: 14px;
    padding-left: 30px;
   
    
}
.menu ul li a{
    color: #aaa;
   
}
.menu ul li .child{
    display: none;
}
.menu ul li .child a {
    display: block;
    font-size: 12px;
    color: #aaa;
    height: 30px;
    line-height: 30px;
    padding-left: 40px;
}


.lt_section{
    padding-left: 180px;
    width: 100%;
    height: 100%;
}
.lt_section.menu {
    padding-left: 0;
  }

.lt_section .lt_nav{
    width: 100%;
    height: 50px;
    background-color: #3c8dbc;
    padding-top: 15px;
   
}
.lt_section .lt_nav a{
    color: #fff;
}
.lt_section .lt_nav a:first-child span{
    margin-left: 15px;
    float: left;
}
.lt_section .lt_nav a:last-child span{
    margin-right: 15px;
    float: right;
}

.lt_section .container-fluid .breadcrumb{
    margin-top: 20px;
}
.lt_section .container-fluid .lt_canvas .picTable{
    float: left;
    width: 45%;
    height: 400px;
}
.lt_section .container-fluid .lt_canvas .picTable:last-child{
    margin-left: 10%;
}
